.line {
  fill: none;
  stroke-width: 2px;
}

.orange {
  stroke: orange;
}

.green {
  stroke: green;
}

.blue  {
  stroke: blue;
}

.axisText {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #551aaf;
  border: 0;
  border-radius: 10px;
}

.chart1{
  position: relative
}


.chart3{
  position: relative
}

  
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Arial;
  margin:0px;
  
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
img{
    width: 50%;
    margin-left: 50px;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
}










.bar {
  fill: green;
}

.bar:hover {
  fill: rgb(221, 216, 216);
}

p {
  font-family: "Courier New", Times, serif;
  color: green
}

h1{
  font-family: "Courier New", Times, serif;  
  color: blue
}

a{
  font-family: "Courier New", Times, serif;  
  color: peru
}
body{
  background-color: beige
}
.line {
  fill: none;
  stroke-width: 2px;
}

.orange {
  stroke: orange;
}

.green {
  stroke: green;
}

.blue  {
  stroke: blue;
}

.red  {
  stroke: red;
}

.axisText {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
}

/* .tooltip {
  display: none;
  position: absolute;
  width: 80px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  text-align: center;
  background: orange;
  border: 0;
  border-radius: 10px;
} */

.tooltip {
  position: absolute;
  width: 90px;
  height: 70px;
  padding: 10px;
  font: 12px sans-serif;
  text-align: center;
  color: white;
  background: blue;
  border: 0;
  border-radius: 10px;
}

.img1{
  padding-bottom: 100px;
}