<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CO2 Emissions</title>
  <link rel="stylesheet" href="static/css/styles3.css">
  <div class="navbar">
      

      <div class="dropdown">

        <div class="dropdown-content">
            
          <a href="index3.html"> Click here for more information on US and VA emissions</a>

        </div>
      </div>
    </div>
</nav>
</head>

<body>
 
    <h1>A Look at CO2 Emissions....... </h1>

    <p>
        Climate change is a global threat and we know CO2 emissions are a factor. Where and what CO2 emissions are at play on a global scale, national scale, and in Virginia specifically. 
        Through this analysis, we'll grow our understanding of this major contributing factor to climate change on an increasingly granular scale: <strong> Check out global emissions below and the links above for more information on US and VA emissions</strong>
    </p>
    <img src="/static/img/greenhouse_effect_rev_5-22-19.gif"/>
    <img src="/static/img/7g7P.gif"/>

    <h1>An Increasingly Granular View of Emissions:Global </h1>

  <div id="area1"></div>
  <div id="area2"></div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="static/js/app1.js"></script> 
</body>
</html>
