<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CO2 Emissions</title>
    <link rel="stylesheet" href="styles.css" media="screen">
    <script src="app.js"></script>

</head>
<body>
    <h1>A Look at CO2 Emissions </h1>

    <p>
        Climate change is a global threat and we know CO2 emissions are a factor. Where and what CO2 emissions are at play on a global scale, national scale, and in Virginia specifically. 
        Through this analysis, we'll grow our understanding of this major contributing factor to climate change on an increasingly granular scale.
    </p>
    <img src="greenhouse_effect_rev_5-22-19.gif" />
    <img src="7g7P.gif"/>

    <h1>An Increasingly Granular View of Emissions </h1>
</body>
</html>