<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/styles3.css">
    
    <title>Document</title>
</head>
<body>
    <h1>United States Emissions</h1>
    <img class="img1" src="/static/img/us_map.jpg"/>
    <h1>Virginia CO2 Emissions</h1>
    <div id="area2"></div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/app4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    
</body>
</html>